body {
  background:#1b1b1b;
  color:white;
  font-family:Arial;
  text-align:center;
}

select, button {
  padding:10px;
  margin:10px;
  font-size:16px;
}

#resultado {
  margin-top:20px;
  padding:15px;
  background:#333;
  border-radius:10px;
}
